* {
	margin:0;
	padding:0;
}

body{
	font: normal 16px Arial, Helvetica, sans-serif;
}

h1, h3{
	font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
}

h2 {
	margin-top: 5px !important;     
}

/*-----------------
	The Header
------------------*/

header {
	position: fixed;
	top: 0;
	left:0;
	right:0;

	height: 60px;
	z-index: 100;

	background-color: #282b2c;
	padding: 20px 40px;
	color: #fff;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
	text-align: center;
	line-height: 20px
}

header a {
	color: #ffffff;
	text-decoration: none;
}

header h2.tz{
	float: right;
	opacity:0.9;
}

header h2.tz:hover{
	opacity:1;
}

header h2.tz a{
	font-size: 13px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 18px;
	border-radius: 3px;
	background-color: #5895DB;
}

@media (max-width: 500px){
	header {
		padding: 20px 15px;
	}

	header h1{
		font-size: 24px;
		margin: 0;
	}

}

header span {
	font-size: x-large;
}

/*-----------------
	Main Content
------------------*/


.main-content {
	box-sizing: border-box;
	text-align: center;
	margin: 125px auto 60px;
	padding: 0 40px;
	background-color: #ffffff;
}

.main-content h3{
	font-size: 28px;
	color:  #5a96b9;
	padding-bottom: 20px;
}

@media (max-width: 600px){
	.main-content{
		margin: 45px auto;
		padding: 0 25px;
	}

}

table tr th {
	text-align: center
}

.rank-user {
	font-weight: 700;
	font-size: 18px;
}

#rank {
	font-size: 100px; 
	color: #5a96b9
}

.col-left-border {
	border-left: 1px solid gray
}