certifi==2018.11.29
chardet==3.0.4
cli-helpers==1.1.0
Click==7.0
configobj==5.0.6
docopt==0.6.2
humanize==0.5.1
idna==2.8
jsonschema==2.6.0
lambdarest==5.1.0
prompt-toolkit==1.0.13
protobuf==3.6.1
Pygments==2.7.4
PyYAML==5.4
requests==2.21.0
requests-toolbelt==0.8.0
rockset==0.5.9b20190104
six==1.12.0
SQLAlchemy==1.3.0
sqlparse==0.2.4
strict-rfc3339==0.7
tabulate==0.8.2
terminaltables==3.1.0
texttable==1.5.0
urllib3==1.24.2
wcwidth==0.1.7
webcolors==1.8.1
Werkzeug==0.15.3
